<h1>Editing chart</h1>

<% form_for(@chart) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
	<%= f.label :chart_type %> <%= f.select :chart_type, Chart::CHART_TYPES %>
  </p>
  <p>
  	<%= f.label :size %> <%= f.text_field :size, :size => 5 %>
  </p>
  <p>
  	<%= f.label :items_per_page %> <%= f.text_field :items_per_page, :size => 5 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @chart %> |
<%= link_to 'Back', charts_path %>