<h1>Billboard Charts</h1>

<%= link_to "New Chart", new_chart_path %> | <%= link_to "Update Data", update_all_chart_data_path %>

<% @charts.each do |chart| -%>
<p>
	<strong><%=h link_to chart.title, chart %></strong><br />
	<% unless chart.latest_instance.nil? %>
	<%= link_to "Latest", chart_chart_instance_path(chart, chart.latest_instance) %> | 
	<% end %>
	<%= link_to "JSON", chart_path( chart, :format => :json ) %>
</p>
<% end -%>
