<% content_for :title do %>
<%=h @chart_instance.chart.title %> - <%=h @chart_instance.date.strftime("%B %d %Y") %>
<% end %>
<% content_for :head do %>
<%= javascript_include_tag 'MOKit', 'jquery-1.4.3.min.js', 'audio_player.js', 'chart_table_view.js', 'http://platform.twitter.com/widgets.js' %>
<% end %>
<h1><%=h @chart_instance.chart.title %></h1>
<h2><%=h @chart_instance.date.strftime("%B %d %Y") %></h2>

<div class="chart_table">
<% @chart_instance.chart_instance_items[0..9].each do |item| %>
<div class="chart_table_item" id="<%= id_for_title(item.title) %>">
	<div class="position">
		<%= item.position %>
	</div>
	<div class="icon_container" id="<%= id_for_title(item.title) %>_icon">
		<div class="icon">
			<div class="icon_face front">
				<%= image_tag(item.itunesArtworkURL60 || 'no_image.jpg', :width => '60px', :height => '60px') %><br/>
			</div>
			<div class="icon_face back">
				<%= image_tag "icon_back.png" %>
			</div>
		</div>
	</div>
	<div class="item_short_description" id="<%= id_for_title(item.title) %>_description">
		<span class="title"><%= truncate(item.title, 25) %></span><br/>
		<span class="artist"><%= truncate(item.artist.name, 33) %></span><br/>
		<% if item.chart_instance.chart.chart_type == "Singles" %>
			<span class="album"><%= truncate(item.album, 33) %></span>
		<% end %>
		<audio	id="<%= id_for_title(item.title) %>_audio"
				class="audio_preview"
				src="<%= item.itunesPreviewURL || '' %>">
		</audio>
	</div>
</div>
<div class="chart_table_item_details inactive" id="<%= id_for_title(item.title) %>_details">
	<ul>
		<li><%= link_to "View In iTunes", item.itunesTrackViewURL %></li>
		<li><%= twitter_share_button(item.itunesTrackViewURL, "#{item.artist.name} - '#{item.title}' is ##{item.position} on Billboard's #{item.chart.title}") %></li>
	</ul>
</div>
<% end %>
</div>